.random-advice-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}